streamlit-quill
python-dotenv
litellm==1.66.2
click
questionary
requests
packaging
setuptools
pytest
pytest-asyncio
asyncio
altair
prisma
fastapi
uvicorn[standard]
python-multipart
redis
upstash-redis
supabase
pyjwt
certifi
python-ripgrep
daytona_sdk
boto3
pydantic
tavily-python
pytesseract